@reference '../theme/index.css';

/*className={cn('input-field', className, {*/
/*  untouched: !touched,*/
/*  valid: touched && !isInvalid,*/
/*  invalid: touched && isInvalid,*/
/*})}*/

@layer base {
  .input-field.untouched {
    @apply border-alt
  }
  /* TODO bg-alt */
  .input-field {
    @apply
    w-full
    py-2
    px-3
    border
    font-medium
    rounded
    placeholder:text-sm
    placeholder:font-light
    focus:outline-none
    bg-alt
    focus:bg-gray-100
    dark:focus:bg-gray-800
    shadow-sm
    dark:shadow-gray-700
    focus:ring-primary-500
    focus:border-primary-800
    text-gray-900
    dark:text-gray-200;
  }

  .input-field.valid {
    @apply border-green-600 focus:border-primary-800;
  }

  .input-field.invalid {
    @apply border-red-300 text-red-500 placeholder-red-300 focus:border-red-500 focus:ring-red-500;
  }

  .input-field::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    /* Style custom */
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  }
}
